html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/* .MuiCard-root {
  overflow: visible !important;
}
.makeStyles-cardMedia-2 {
  top: -45px !important;
} */

/* .MuiContainer-maxWidthLg {
  max-width: 3000px;
  border: 5px solid blue;
} */

.MuiContainer-maxWidthLg {
  max-width: 1515px !important;
  /* border: 5px solid blue; */
}

/* width */
.makeStyles-scroll-16::-webkit-scrollbar {
  width: 12px;
}

/* Track */
.makeStyles-scroll-16::-webkit-scrollbar-track {
  background: #eaad4d;
}

/* Handle */
.makeStyles-scroll-16::-webkit-scrollbar-thumb {
  background: #000;
}

.makeStyles-textLeft-33 a {
  color: #ee018c !important;
}

.makeStyles-textLeft-33 a:hover {
  color: #eaad4d !important;
  transition: 0.5s;
}

.MuiDivider-root {
  background-color: blue;
}

/* Appointment selector */
.MuiList-root {
  background-color: #311d40;
  color: #eaad4e;
  /* border: 1px solid #eaad4e; */
}
